{% extends "base/base.html" %}
{% block title %}申請入學校系分則查詢{% endblock title%}
{% block h1 %}申請入學校系分則查詢{% endblock h1%}
{% block box %}
<form method="GET" action="{{url_for('申請入學簡章查詢all')}}">
  <div align="center" style="margin-top: 30px;padding-bottom: 30px;">
    <div class="input-group">
      <div class="form-outline">
        <input type="search" id="search" name="search" class="form-control" autocomplete="off" value="{% if request.args.get('search') %}{{ request.args.get('search') }}{%else%}{%endif%}" />
        <label class="form-label" for="search">快速查詢科系</label>
      </div>
      <button type="submit" class="btn btn-dark">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
  </form>
{% endblock box%}}
{% block content%}
<style>
table{
    width:100%;
    white-space:nowrap; 
}
table  :nth-child(2){
    width:100%;
}

.table-fixed thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 53px;
    background-color: #ffff;
}
.div{
    width: 95%;
    margin: auto;
    }
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; font-size: x-large;}
th     { background:rgb(214, 214, 214); }

@media (max-width: 700px) {

  th, td {  font-size:small ;}
}
@media (max-width: 350px) {
    .div{
      overflow-x: auto;
      height: 1000px;
    }
    .table-fixed thead th {
      top: 0px;
      
    }

}


 </style>

<div class="animate__animated animate__fadeIn delay-3" style="padding:8px; margin:10px; background-color: rgb(255, 255, 255) ;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">


  
  <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active"
        style="white-space: nowrap;"
        >所有學校</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        style="white-space: nowrap;"
        id="loading"
        onclick="loading();"
        href="{{ url_for('申請入學簡章查詢all') }}"
        >所有科系</a
      >
    </li>     
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        style="white-space: nowrap;"
        id=""
        href="{{ url_for('申請入學簡章查詢fav') }}"
        >我的最愛</a
      >
    </li>     
  </ul>      



  <div class="tab-content" id="ex2-content">
    <div >




      <div class="row" style="margin-top:15px ;">




        <nav style="margin-left: 15px;" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('home')}}">Home</a></li>
            <li class="breadcrumb-item active">申請入學校系分則查詢-所有學校</li>
          </ol>
        </nav>
  
          <div class="col">
              <div class="card text-center">
                  <div class="card-header">所有學校</div>
                  <div class="card-body">
                      <!-- News Start  -->
                      <div class="tableFixHead div" >
                      <table id="table" class="w3-table w3-striped w3-small table-fixed" >
                          <thead>
                            <tr>
                              <th class="filter no-filter" scope="col">代碼</th>
                              <th class="filter" scope="col">學校名稱</th>
                              <th class="filter" scope="col">國/私立</th>
                              <!-- <th class="filter" scope="col">地區</th>                             -->
                              <th class="no-filter no-search no-sort " scope="col">官方網站</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for item in schools %}
                              <tr>
                                  <td>{{ item['id'] }}</td> 
                                 <td><a href="{{url_for('申請入學簡章查詢school',pid=item['id'])}}">{{ item['SchoolName'][5:] }}</a></td>
                                 <td>{% if item['isNational'] =="True"%}國立{%else%}私立{%endif%}</td> 
                                 <!-- <td>{{ item['zone'] }}</td>  -->
                                 <td><a target="_blank" href="{{ item['official_website'] }}">官網</a></td>
                              </tr>
                          {% endfor %}
                          </tbody>
                          </table>
                          </div>
                     <!-- News End -->
                  </div>
              </div>
          </div>
      </div>   
  
  


    </div>

  </div>
</div>


{% endblock content%}
{% block script%}
<script>
    $(function () {
      $('table').excelTableFilter({
        'captions':{ a_to_z: '升序排列', z_to_a: '降序排列', search: '搜尋', select_all: '全選' }
      });
    });


    function loading() {
          document.getElementById("loading").innerText = "資料量較大 請耐心等候...";
        }
  </script>

{% endblock script%}